@using EntityLayer.Concrete
@model List<Country>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ülkeler</h4>
                   
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Ülke Adı</th>
                          <th>Ülke Nüfusu</th>
                          <th>Başkenti</th>
                          <th>Ülke Bayrağı</th>
                          <th>İşlemler</th>
           
                        </tr>
                      </thead>
                      <tbody>
                       @foreach (var item in Model)
                      {
                                               
                        <tr>
                          <td>@item.CountryID</td>
                          <td>@item.name</td>
                          <td>@item.population</td>
                          <td>@item.capital</td>
                          <td><img src="/countryimage/@item.flagImageUrl" alt="country" width=50 height=50></td>
                          <td><a href="/Country/DeleteCountry/@item.CountryID" class="btn btn-danger">Sil</a>
                              <a href="/Country/CountryUpdate/@item.CountryID" class="btn btn-success">Düzenle</a>
                              <a href="/Country/CountryCities/@item.CountryID" class="btn btn-warning">Şehirlerine Bak</a>
                          
                        </tr>
               
                      }
                      </tbody>
                    </table>
                    <br/>
                    <a href="/Country/AddCountry/" class="btn btn-primary">Yeni Ülke Ekle</a>
                  </div>
                </div>
              </div>

